---
apiVersion: v1
kind: Service
metadata:
  name: hello-world-express-service
spec:
  selector:
    app: express-app
  ports:
    - protocol: 'TCP'
      port: 9998
      targetPort: 9998
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-express
spec:
  replicas: 3
  selector:
    matchLabels:
      app: express-app
  template:
    metadata:
      labels:
        app: express-app
    spec:
      containers:
        - name: express
          image: joalisonpereira/hello-world-express